<h2>Portifólio</h2>
<div class="row">
    <div class="col-lg-4 col-md-4">
        <div class="form-group">
            <label>Título</label>
            <input (ngModel)="modelo?.Titulo" (ngModelChange)="modelo.Titulo = $event"  class="form-control" /> 
        </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="form-group">
            <label>SubTitulo</label>
            <input (ngModel)="modelo?.SubTitulo" (ngModelChange)="modelo.SubTitulo = $event" class="form-control" />
        </div>
    </div>
    
    <div class="col-lg-3 col-md-3" style="margin-top:33px;">
        <div class="form-group">
          <button type="button" id="envia" (click)="salvar()" class="btn btn-default" >
            <span >Salvar</span>
          </button>
        </div>
    </div>
</div>